.fetch {
  width: 100px;
  height: 100px;
  background-color: rgb(226, 165, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 10px;
  height: 10px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}