.fetch {
  width: 100px;
  height: 100px;
  background-color: rgb(226, 165, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px auto;
}

.loader {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 2px solid black;
  border-top: 2px soild transparent;
  border-radius: 100rem;
}

@keyframes animtate {
  to {
    transform: rotate(360);
  }
}