// .fetch {
//   width: 100px;
//   height: 100px;
//   background-color: rgb(226, 165, 52);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 8px;
//   margin: 10px auto;
// }

// .loader {
//   width: 20px;
//   height: 20px;
//   border: 2px solid #fff;
//   border-top: 2px solid transparent;
//   border-radius: 100rem;
//   animation: animtate 1s linear infinite;
// }

// @keyframes animtate {
//   to {
//     transform: rotate(360deg);
//   }
// }

.dropdown {
  // width: 100%;
  // max-width: 475px;
}

.dropdown-list {
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
}

.dropdown-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $dropdown-bg-color-first;
  transform: translateY(-100%);
}

.dropdown__item {
  background-color: $dropdown-bg-color-first;
  color: yellow;
  padding: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.dropdown__item:nth-child(1) {
  border-radius: 4px 4px 0 0;
}

.dropdown__item:nth-child(1) {
  border-radius: 4px 4px 0 0;
}

.dropdown__item:hover {
  background-color: $dropdown-bg-color-second;

}